body {
    background: rgb(236, 156, 156);
    max-width: 400px;
    text-align: center;
    margin-left: 400px;
}

.table-one {
    border-collapse: separate;
    border-spacing: 10px 10px;
    background: khaki;
    border: 5px solid tomato;
    border-style: inset;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 15px 5px 10px;
}

.table-two {
    border-collapse: separate;
    border-spacing: 10px 10px;
    background: khaki;
    border: 5px solid tomato;
    border-style: outset;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 15px 5px 10px;
}

td.course-name {
    text-align: initial;
}

td {
    text-align: center;
}

caption {
    caption-side: top;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border: 1px solid slategrey;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 6px #b0c0a4;
}

